workflow-agente-sdr-n8n-v2.3.json
{
  "name": "Agente SDR v2.3 — Multi-Agente Dinâmico",
  "nodes": [
    {
      "parameters": {
        "path": "webhook-whatsapp",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000001",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "webhook-whatsapp-sdr"
    },
    {
      "parameters": {
        "jsCode": "// Extrai e normaliza dados da mensagem recebida\nconst body = $input.first().json.body || $input.first().json;\nconst from = body.from || body.number_whatsapp || body.data?.key?.remoteJid || '';\nconst message_text = body.text || body.message || body.data?.message?.conversation || body.data?.message?.extendedTextMessage?.text || '';\nconst media_type = body.mediaType || body.data?.messageType || null;\nconst media_url = body.mediaUrl || null;\nconst timestamp = body.timestamp || new Date().toISOString();\n\n// Limpa número (remove @s.whatsapp.net)\nconst phone = from.replace('@s.whatsapp.net', '').replace(/\\D/g, '');\n\nreturn [{\n  json: {\n    phone,\n    text: message_text || '',\n    media_type,\n    media_url,\n    timestamp,\n    language: 'pt-BR'\n  }\n}];"
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000002",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/message_history?numero_whatsapp=eq.{{ $json.phone }}&order=created_at.desc&limit=1&select=*,leads!inner(user_id,stage,fluxo_id,id,objecoes_count)",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_API_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_API_KEY }}" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000003",
      "name": "Lookup Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [670, 300]
    },
    {
      "parameters": {
        "jsCode": "// Verifica se encontrou sessão existente ou precisa criar lead\nconst session = $input.first().json;\nconst phone = $('Parse Message').first().json.phone;\n\nlet user_id, lead_id, stage, fluxo_id, objecoes_count;\n\nif (session && session.leads) {\n  // Sessão existente\n  user_id = session.leads.user_id;\n  lead_id = session.leads.id;\n  stage = session.leads.stage;\n  fluxo_id = session.leads.fluxo_id;\n  objecoes_count = session.leads.objecoes_count || 0;\n} else if (Array.isArray(session) && session.length > 0 && session[0].leads) {\n  user_id = session[0].leads.user_id;\n  lead_id = session[0].leads.id;\n  stage = session[0].leads.stage;\n  fluxo_id = session[0].leads.fluxo_id;\n  objecoes_count = session[0].leads.objecoes_count || 0;\n} else {\n  // Novo lead — precisa buscar user_id pelo número ou criar\n  user_id = null;\n  lead_id = null;\n  stage = 'novo_contato';\n  fluxo_id = '';\n  objecoes_count = 0;\n}\n\nreturn [{\n  json: {\n    user_id,\n    lead_id,\n    stage,\n    fluxo_id,\n    objecoes_count,\n    phone,\n    is_new: !user_id\n  }\n}];"
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000004",
      "name": "Process Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/profiles?id=eq.{{ $json.user_id }}&select=id,role,display_name,assinaturas(plano,status,creditos_tokens,addon_objecao,agentes_extras)",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_API_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_API_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000005",
      "name": "Validate User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1090, 300]
    },
    {
      "parameters": {
        "jsCode": "// Detecta tipo de agente: principal, prospecção, objeção ou extra\nconst session = $('Process Session').first().json;\nconst userDataRaw = $('Validate User').first().json;\nconst userData = Array.isArray(userDataRaw) ? userDataRaw[0] : userDataRaw;\nconst subscription = userData?.assinaturas?.[0] || userData?.assinaturas || {};\n\nconst objecoes_count = session.objecoes_count || 0;\nconst stage = session.stage || 'novo_contato';\nconst fluxo_id = session.fluxo_id || '';\n\nlet agent_type = 'principal';\nlet agent_index = 0;\n\nif (stage === 'objecoes' || objecoes_count > 2) {\n  agent_type = 'objecao';\n} else if (stage === 'prospecao' || fluxo_id?.includes('prospec')) {\n  agent_type = 'prospec';\n} else if (subscription?.agentes_extras > 0 && fluxo_id?.match(/ae(\\d)/)) {\n  agent_type = 'extra';\n  const match = fluxo_id.match(/ae(\\d)/);\n  agent_index = match ? parseInt(match[1]) : 0;\n}\n\nreturn [{\n  json: {\n    agent_type,\n    agent_index,\n    user_id: session.user_id,\n    lead_id: session.lead_id,\n    subscription_status: subscription?.status || 'unknown',\n    creditos_tokens: subscription?.creditos_tokens || 0,\n    addon_objecao: subscription?.addon_objecao || false\n  }\n}];"
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000006",
      "name": "Detect Agent Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/agente_config?user_id=eq.{{ $json.user_id }}&select=chave,valor",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_API_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_API_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000007",
      "name": "Busca Configs SDR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1510, 300]
    },
    {
      "parameters": {
        "jsCode": "// Monta system prompt + seleciona provider e modelo dinâmico\nconst configArray = $('Busca Configs SDR').first().json;\nconst configs = Array.isArray(configArray) ? configArray : [];\nconst configMap = {};\n\nconfigs.forEach(item => {\n  if (item.chave && item.valor) configMap[item.chave] = item.valor;\n});\n\nconst agentData = $('Detect Agent Type').first().json;\nconst agent_type = agentData.agent_type;\nconst agent_index = agentData.agent_index;\nconst prefix = agent_type === 'principal' ? '' : agent_type === 'prospec' ? 'prospec_' : agent_type === 'objecao' ? 'ob_' : `ae${agent_index}_`;\n\n// Seleciona prompt base\nlet sistema_prompt = configMap[`${prefix}sistema_prompt`] || configMap['sistema_prompt'] || 'Você é um assistente de vendas profissional. Qualifique leads com critério.';\n\n// Seleciona provider\nconst provider = configMap[`${prefix}ai_provider`] || configMap['ai_provider'] || 'openai';\n\n// Seleciona modelo e parâmetros\nlet model, temperature, max_tokens;\n\nif (provider === 'openai') {\n  model = configMap[`${prefix}openai_model`] || configMap['openai_model'] || 'gpt-4o-mini';\n  temperature = parseFloat(configMap[`${prefix}openai_temperature`] || configMap['openai_temperature'] || '0.7');\n  max_tokens = parseInt(configMap[`${prefix}openai_max_tokens`] || configMap['openai_max_tokens'] || '1024');\n} else if (provider === 'claude') {\n  model = configMap[`${prefix}claude_model`] || configMap['claude_model'] || 'claude-haiku-4-5';\n  temperature = parseFloat(configMap[`${prefix}claude_temperature`] || configMap['claude_temperature'] || '0.7');\n  max_tokens = parseInt(configMap[`${prefix}claude_max_tokens`] || configMap['claude_max_tokens'] || '1024');\n} else if (provider === 'google') {\n  model = configMap[`${prefix}google_model`] || configMap['google_model'] || 'gemini-2.0-flash';\n  temperature = parseFloat(configMap[`${prefix}google_temperature`] || configMap['google_temperature'] || '0.7');\n  max_tokens = parseInt(configMap[`${prefix}google_max_tokens`] || configMap['google_max_tokens'] || '1024');\n} else {\n  model = 'gpt-4o-mini';\n  temperature = 0.7;\n  max_tokens = 1024;\n}\n\n// Append tonalidade\nif (configMap[`${prefix}tonalidade`] || configMap['tonalidade']) {\n  sistema_prompt += `\\n\\nTONALIDADE: ${configMap[`${prefix}tonalidade`] || configMap['tonalidade']}`;\n}\n\n// Append critérios\nif (configMap[`${prefix}criterios_qualificacao`] || configMap['criterios_qualificacao']) {\n  sistema_prompt += `\\n\\nCRITÉRIOS DE QUALIFICAÇÃO:\\n${configMap[`${prefix}criterios_qualificacao`] || configMap['criterios_qualificacao']}`;\n}\n\n// Append instruções comunicação\nif (configMap[`${prefix}instrucoes_comunicacao`] || configMap['instrucoes_comunicacao']) {\n  sistema_prompt += `\\n\\nINSTRUÇÕES DE COMUNICAÇÃO:\\n${configMap[`${prefix}instrucoes_comunicacao`] || configMap['instrucoes_comunicacao']}`;\n}\n\nreturn [{\n  json: {\n    final_system_prompt: sistema_prompt,\n    ai_provider: provider,\n    ai_model: model,\n    ai_temperature: temperature,\n    ai_max_tokens: max_tokens,\n    msg_qualificado: configMap[`${prefix}msg_qualificado`] || configMap['msg_qualificado'] || 'Parabéns! Você foi qualificado.',\n    msg_desqualificado: configMap[`${prefix}msg_desqualificado`] || configMap['msg_desqualificado'] || 'Obrigado pelo contato.',\n    responder_em_audio: configMap[`${prefix}responder_em_audio`] || configMap['responder_em_audio'] || 'false',\n    numero_destino: configMap[`${prefix}numero_destino`] || configMap['numero_destino'] || '',\n    grupo_destino: configMap[`${prefix}grupo_destino`] || configMap['grupo_destino'] || '',\n    notif_destino: configMap['notif_destino'] || 'numero'\n  }\n}];"
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000008",
      "name": "Build System Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1720, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/message_history?lead_id=eq.{{ $('Detect Agent Type').item.json.lead_id }}&user_id=eq.{{ $('Detect Agent Type').item.json.user_id }}&order=created_at.desc&limit=10&select=conteudo,sender",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_API_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_API_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000009",
      "name": "Load Conversation History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1930, 300]
    },
    {
      "parameters": {
        "jsCode": "// Monta array de mensagens para a LLM\nconst historyRaw = $('Load Conversation History').first().json;\nconst history = Array.isArray(historyRaw) ? historyRaw : [];\nconst promptData = $('Build System Prompt').first().json;\nconst userMessage = $('Parse Message').first().json.text;\nconst agentData = $('Detect Agent Type').first().json;\n\n// Monta messages array\nconst messages = [{ role: 'system', content: promptData.final_system_prompt }];\n\n// Adiciona histórico (invertido para ordem cronológica)\nconst historyReversed = [...history].reverse();\nfor (const msg of historyReversed) {\n  messages.push({\n    role: msg.sender === 'assistant' ? 'assistant' : 'user',\n    content: msg.conteudo\n  });\n}\n\n// Adiciona mensagem atual\nmessages.push({ role: 'user', content: userMessage });\n\nreturn [{\n  json: {\n    provider: promptData.ai_provider,\n    model: promptData.ai_model,\n    temperature: promptData.ai_temperature,\n    max_tokens: promptData.ai_max_tokens,\n    messages,\n    user_id: agentData.user_id\n  }\n}];"
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000010",
      "name": "Prepare LLM Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2140, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/functions/v1/llm-proxy?provider={{ $json.provider }}&user_id={{ $json.user_id }}&model={{ $json.model }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_JWT }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ provider: $json.provider, model: $json.model, temperature: $json.temperature, max_tokens: $json.max_tokens, messages: $json.messages, user_id: $json.user_id }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000011",
      "name": "LLM Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2350, 300]
    },
    {
      "parameters": {
        "jsCode": "// Processa resposta da LLM e detecta qualificação + objeções + pagamento\nconst llmResponse = $('LLM Call').first().json;\nconst response_text = llmResponse.content || llmResponse.choices?.[0]?.message?.content || '';\nconst promptData = $('Build System Prompt').first().json;\n\n// Detecta qualificação\nconst has_qualificado = response_text.includes('[LEAD_QUALIFICADO]');\nconst has_desqualificado = response_text.includes('[LEAD_DESQUALIFICADO]');\n\n// Detecta objeções na mensagem do USUÁRIO\nconst userText = ($('Parse Message').first().json.text || '').toLowerCase();\nconst objection_keywords = ['não posso', 'muito caro', 'não sei', 'concorrente', 'depois', 'não tenho', 'sem interesse'];\nlet has_objection = false;\nlet objection_type = '';\nfor (const keyword of objection_keywords) {\n  if (userText.includes(keyword)) {\n    has_objection = true;\n    if (keyword.includes('caro') || keyword.includes('não tenho')) objection_type = 'preco';\n    else if (keyword.includes('depois')) objection_type = 'timing';\n    else if (keyword.includes('concorrente')) objection_type = 'concorrente';\n    else if (keyword.includes('sem interesse')) objection_type = 'interesse';\n    else objection_type = 'outro';\n    break;\n  }\n}\n\n// Detecta intenção de pagamento\nconst payment_keywords = ['quero pagar', 'como pago', 'vou fechar', 'quero comprar', 'boleto', 'pix', 'cartão', 'parcelas', '[INICIAR_PAGAMENTO]'];\nlet payment_intent = false;\nfor (const keyword of payment_keywords) {\n  if (response_text.toLowerCase().includes(keyword.toLowerCase()) || userText.includes(keyword.toLowerCase())) {\n    payment_intent = true;\n    break;\n  }\n}\n\n// Limpa tags internas da resposta antes de enviar\nlet clean_response = response_text\n  .replace('[LEAD_QUALIFICADO]', '')\n  .replace('[LEAD_DESQUALIFICADO]', '')\n  .replace('[INICIAR_PAGAMENTO]', '')\n  .trim();\n\n// Se qualificado/desqualificado, adiciona mensagem configurada\nif (has_qualificado && promptData.msg_qualificado) {\n  clean_response += '\\n\\n' + promptData.msg_qualificado;\n}\nif (has_desqualificado && promptData.msg_desqualificado) {\n  clean_response += '\\n\\n' + promptData.msg_desqualificado;\n}\n\nreturn [{\n  json: {\n    response_text: clean_response,\n    qualified: has_qualificado,\n    disqualified: has_desqualificado,\n    has_objection,\n    objection_type,\n    payment_intent,\n    responder_em_audio: promptData.responder_em_audio === 'true',\n    tokens_used: llmResponse.deducted_tokens || llmResponse.usage?.total_tokens || 0\n  }\n}];"
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000012",
      "name": "Process LLM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2560, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/functions/v1/evo-proxy",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_JWT }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: $json.responder_em_audio ? 'send-audio' : 'send-text', number: $('Parse Message').first().json.phone, text: $json.response_text, user_id: $('Detect Agent Type').first().json.user_id }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000013",
      "name": "Send WhatsApp Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2770, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/message_history",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_API_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $('Detect Agent Type').first().json.user_id, lead_id: $('Detect Agent Type').first().json.lead_id, numero_whatsapp: $('Parse Message').first().json.phone, sender: 'assistant', conteudo: $('Process LLM Response').first().json.response_text, tokens_usados: $('Process LLM Response').first().json.tokens_used }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000014",
      "name": "Save Response Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2980, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/leads?id=eq.{{ $('Detect Agent Type').first().json.lead_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_API_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ updated_at: new Date().toISOString(), ultima_pergunta: $('Parse Message').first().json.text, stage: $('Process LLM Response').first().json.qualified ? 'qualificado' : $('Process LLM Response').first().json.disqualified ? 'nao_qualificado' : undefined }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000015",
      "name": "Update Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2980, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/message_history",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_API_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $('Detect Agent Type').first().json.user_id, lead_id: $('Detect Agent Type').first().json.lead_id, numero_whatsapp: $('Parse Message').first().json.phone, sender: 'user', conteudo: $('Parse Message').first().json.text, tokens_usados: 0 }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000016",
      "name": "Save User Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1930, 500]
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [{ "node": "Parse Message", "type": "main", "index": 0 }]
      ]
    },
    "Parse Message": {
      "main": [
        [{ "node": "Lookup Session", "type": "main", "index": 0 }]
      ]
    },
    "Lookup Session": {
      "main": [
        [{ "node": "Process Session", "type": "main", "index": 0 }]
      ]
    },
    "Process Session": {
      "main": [
        [{ "node": "Validate User", "type": "main", "index": 0 }]
      ]
    },
    "Validate User": {
      "main": [
        [{ "node": "Detect Agent Type", "type": "main", "index": 0 }]
      ]
    },
    "Detect Agent Type": {
      "main": [
        [{ "node": "Busca Configs SDR", "type": "main", "index": 0 }]
      ]
    },
    "Busca Configs SDR": {
      "main": [
        [{ "node": "Build System Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Build System Prompt": {
      "main": [
        [
          { "node": "Load Conversation History", "type": "main", "index": 0 },
          { "node": "Save User Message", "type": "main", "index": 0 }
        ]
      ]
    },
    "Load Conversation History": {
      "main": [
        [{ "node": "Prepare LLM Request", "type": "main", "index": 0 }]
      ]
    },
    "Prepare LLM Request": {
      "main": [
        [{ "node": "LLM Call", "type": "main", "index": 0 }]
      ]
    },
    "LLM Call": {
      "main": [
        [{ "node": "Process LLM Response", "type": "main", "index": 0 }]
      ]
    },
    "Process LLM Response": {
      "main": [
        [{ "node": "Send WhatsApp Response", "type": "main", "index": 0 }]
      ]
    },
    "Send WhatsApp Response": {
      "main": [
        [
          { "node": "Save Response Log", "type": "main", "index": 0 },
          { "node": "Update Lead", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 120
  },
  "pinData": {},
  "tags": [
    { "name": "SDR" },
    { "name": "WhatsApp" },
    { "name": "Multi-Agente" }
  ]
}
